lib/
setup
src/*.o
src/*.d
test/compare_root.pdf
test/shower.out
test/test.root
test/testLong
test/testLong.out
test/testMain
test/testMain.out
test/testOut
test/testOut.out
test/testRoot
test/testRoot.out
